 
<h2>Register</h2>

<%= devise_error_messages! %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  </div>
    <%=f.text_field :name, autofocus: true%>
    <%= f.label :name %>
   <div class="field">

  </div>
    <%= f.email_field :email, autofocus: true %>
    <%= f.label :email %>
  <div class="field">

</div>
    <%= f.password_field :password, autocomplete: "off" %>
     
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% if @minimum_password_length %>
    <%= f.label :password %>
     <% end %>
  <div class="field">


  </div>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    <%= f.label :password_confirmation %>
  <div class="field">

   </div>
    <%= f.submit "Register" %>
  <div class="actions">
 <% end %>

  <h3>Cancel my account</h3>
  
  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

 <%= render "devise/shared/links" %>
    <%= link_to "Back", :back %>

 
 